.bg-cor
{
	background-color: #1E90FF;
}

.centro
{
	display: block;
	margin: 0 auto;
}

.btn-cor
{
	background-color: #1E90FF;
	color: white;
}

.btn-cor:hover
{
	background-color: #1b81e5;
	color: white;
}

.btn-branco
{
	background-color: white;
	color: #333;
}

.btn-branco:hover
{
	background-color: #eaeaea;
	color: #333;
}

/*-------------------------------------------------*/

.bg-img
{
	background-size:cover;
	background-repeat: no-repeat;
}